﻿<!DOCTYPE html>
<html lang="en" data-ng-app="HrisApp">
<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.0/angular.min.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.9/angular-cookies.js"></script>
    <link rel="stylesheet" href="Angularapp/Styles/Login.css" />
    <script src="Angularapp/app.js"></script>
    <script src="Angularapp/RoutingScript.js"></script>
    <script src="Angularapp/Controllers/Login.js"></script>


    <title>Login Page</title>

    <script language="javascript">
        ScrollRate = 100;

        function scrollDiv_init() {
            DivElmnt = document.getElementById('MyDivName');
            ReachedMaxScroll = false;

            DivElmnt.scrollTop = 0;
            PreviousScrollTop = 0;

            ScrollInterval = setInterval('scrollDiv()', ScrollRate);
        }

        function scrollDiv() {

            if (!ReachedMaxScroll) {
                DivElmnt.scrollTop = PreviousScrollTop;
                PreviousScrollTop++;

                ReachedMaxScroll = DivElmnt.scrollTop >= (DivElmnt.scrollHeight - DivElmnt.offsetHeight);
            }
            else {
                ReachedMaxScroll = (DivElmnt.scrollTop == 0) ? false : true;

                DivElmnt.scrollTop = PreviousScrollTop;
                PreviousScrollTop--;
            }
        }

        function pauseDiv() {
            clearInterval(ScrollInterval);
        }

        function resumeDiv() {
            PreviousScrollTop = DivElmnt.scrollTop;
            ScrollInterval = setInterval('scrollDiv()', ScrollRate);
        }
    </script>
    <script>
        $(function () {

            if (localStorage.chkbx && localStorage.chkbx != '') {
                $('#remember_me').attr('checked', 'checked');
                $('#inputEmail').val(localStorage.usrname);
                $('#inputPassword').val(localStorage.pass);
            } else {
                $('#remember_me').removeAttr('checked');
                $('#inputEmail').val('');
                $('#inputPassword').val('');
            }

            $('#remember_me').click(function () {

                if ($('#remember_me').is(':checked')) {
                    // save username and password
                    localStorage.usrname = $('#inputEmail').val();
                    localStorage.pass = $('#inputPassword').val();
                    localStorage.chkbx = $('#remember_me').val();
                } else {
                    localStorage.usrname = '';
                    localStorage.pass = '';
                    localStorage.chkbx = '';
                }
            });
        });
    </script>


</head>
<body data-ng-controller="loginController" onload="scrollDiv_init()">

    <div class="container" style="overflow: auto" onmouseover="pauseDiv()" onmouseout="resumeDiv()">
        <div class="card card-container" id="MyDivName">
            <img id="profile-img" class="profile-img-card" src="Angularapp/Images/loginimg.png" />
            <p id="profile-name" class="profile-name-card"></p>
            <form class="form-signin" id="myForm" data-ng-submit="validation(email,password)">
                <span id="reauth-email" class="reauth-email"></span>
                <input type="email" id="inputEmail" class="form-control" data-ng-model="email" placeholder="Email address" required autofocus>
                <input type="password" id="inputPassword" class="form-control" data-ng-model="password" placeholder="Password" required>
                <div id="remember" class="checkbox">
                    <label>
                        <input type="checkbox" value="remember_me" id="remember_me">
                        Remember me
                    </label>
                </div>

                <button class="btn btn-lg btn-primary btn-block btn-signin" type="submit" value="login">Sign in</button>
                <a href="#" class="forgot-password">Forgot the password?</a>
            </form>


        </div>
    </div>

    <header>
        <p class="text">Human Resource Information system</p>
    </header>

    <footer>
        <h1></h1>
    </footer>
</body>
</html>
