﻿/* Styles go here */
html {
  height: 100%;
}
html body {
  height: 100%;
  overflow: hidden;
}
html body .container-fluid.body-content {
  position: absolute;
  top: 50px;
  bottom: 30px;
  right: 0;
  left: 0;
  overflow-y: auto;
}
.container {

 padding-top:100px;

}
header {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    background-color:#33d6ff;
    height: 100px;
    text-align:center;
}
footer {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    background-color:#33d6ff;
    height: 30px;
}
.form{position:fixed;
margin-top:100px;
left:0px;
right:0px;
height:25px;
}


.eltable{
position:fixed;
width:50%;
left:200px;
right:0px;
margin-top:155px;
}



#ResponsiveTables{
width:100%;
border-collapse: collapse;
border:1px solid black;

}
     tr:nth-of-type(odd) {
     background:#ffffff;
}
     tr:nth-of-type(even){
     background: #999999;
}

     #Headrow{
     background-color:#008fb3;
     color:white;
     font:weight:bold
}
#ResponsiveTables td{
 border-collapse: collapse;
 padding:5px;
 border:1px solid black;
 text-align:left;
}
    
@media screen and (max-width:800px) {
#ResponsiveTables,
#ResponsiveTables tbody,
#ResponsiveTables tr,
#ResponsiveTables td{

display:block;
}
.Headrow {
position:absolute;
left:-9999px;
top:-9999px;
}
#ResponsiveTables td{
border:none;
position:relative;
padding-left:40%;
white-space:normal;
text-align:left;
}

#ResponsiveTables td:before{
position:absolute;
top:5px;
left:5px;
width:40%;
padding-right:10px;
white-space:nowrap;
text-align:left;
font-weight:bold;
}

#ResponsiveTables td:before{
content:attr(tableHeadData);
}


}