﻿
  <div class='container' style="background-color:whitesmoke">
      <div class='row'>
        <div class='col-md-12'>
          <h1><center>Update Profile</center></h1>
        </div>
      </div>
  <div>
    <div>
      <form name='detailsForm' onsubmit='return validations()'>

        <div class='row'>
          <div class='col-md-4'>
            <form-group>
              <label>First Name<span>*</span></label>
              <input type='name' placeholder='Enter your First Name here' class='form-control' ng-model='FirstName' id='FNameId'>
            </form-group>
          </div>
          <div class='col-md-4'>
            <form-group>
              <label>Middle Name</label>
              <input type='text' class='form-control'  ng-model='MiddleName' id='MNameId'>
            </form-group>
          </div>
          <div class='col-md-4'>
            <form-group>
              <label>Last Name<span>*</span></label>
              <input type='text' class='form-control'  ng-model='LastName' id='LNameId'>
            </form-group>
          </div>
        </div>

        <div class='row'>
          <div class='col-md-4'>
            <form-group class='has-feedback'>
              <label>Employee ID<span>*</span></label>
              <input type='text'  class='form-control' ng-model='EmpId' id='EmpId'>
            </form-group>
          </div>
          <div class='col-md-4'>
            <form-group>
              <label for='email'>Email Id<span>*</span></label>
              <input type='email' class='form-control' placeholder='e.g.: someone@example.com' ng-model='email' id='emailId'>
            </form-group>
          </div>
          
          <div class='col-md-4'>
            <form-group>
              <label>Contact No.<span>*</span></label>
              <input type='number' class='form-control' ng-minlength='10' ng-maxlength='10' name='phone' ng-model='contact' id='contactId' placeholder='10 digit mobile number' ><div style='color:red' ng-show="detailsForm.phone.$error.minlength || detailsForm.phone.$error.maxlength">Please enter 10 digit mobile number only</div>
            </form-group>
          </div>
        </div>
        
        <div class='row'>
           <div class='col-md-4'>
            <form-group>
              <label>Designation<span>*</span></label>
              <input type='text' class='form-control' ng-model='designation' id='designationId'>
            </form-group>
          </div>
          <div class='col-md-4'>
            <form-group>
              <label>Current Project<span>*</span></label>
              <input type='text' class='form-control' ng-model='projects' id='projectsId'>
            </form-group>
          </div>
          <div class='col-md-4'>
             <form-group>
              <label>Other Project (if any)</label>
              <input type='text' class='form-control' ng-model='secondproject' id='SecondProjectsId'>
            </form-group>
          </div>
        </div>
        
          <div class='row' ng-if=hidepart()>
          <div class='col-md-4' style='padding:15px'>
            <form-group>
              <label>Billable Status:</label>
              <label class='radio-inline'><input type='radio' name='BillStatus' ng-click='billable()' id='billId'>Billable</label>
              <label class='radio-inline'><input type='radio' name='BillStatus' ng-click='notbillable()'  id='nobillId'>Not Billable</label>
            </form-group>
          </div>
          <div class='col-md-4' ng-hide= 'bill'>
            <form-group>
              <label>Billable Project:</label>
              <input type='text' class='form-control' ng-model='BillProject' id='BillProjectId'>
            </form-group>
          </div>
        </div>
        
        <div class='row'>
          <div class='col-md-4'>
            <form-group>
              <label>Reporting Manager<span>*</span></label>
              <input type='text' class='form-control' ng-model='manager' id='managerId'>
            </form-group>
          </div>
          <div class='col-md-4'>
            <form-group>
              <label>Reporting Lead<span>*</span></label>
              <input type='text' class='form-control' ng-model='lead' id='leadId'>
            </form-group>
          </div>
          <div class='col-md-4'>
            <form-group>
              <label>Band</label>
              <select class='form-control' ng-model='band' id='bandId'>
                <option>A1</option>
                <option>A2</option>
                <option>A3</option>
                <option>B1</option>
                <option>B2</option>
                <option>B3</option>
                <option>C1</option>
                <option>C2</option>
                <option>C3</option>
              </select>
            </form-group>
          </div>
        </div>  
         <div class='row'>
           <div class='col-md-4'>
            <form-group>
              <label>Country<span>*</span></label>
              <input type='text' class='form-control' max='2017-02-15' ng-model='country' id='countryId'>
            </form-group>
          </div>  
          
         
          <div class='col-md-4'>
            <form-group>
              <label>City<span>*</span></label>
              <input type='text' class='form-control' ng-model='city' id='cityId'>
            </form-group>
          </div>
           <div class='col-md-4'>
            <form-group>
              <label>Location<span>*</span></label>
              <input type='text' class='form-control' ng-model='Location' id='locationId'>
            </form-group>  
          </div>
        </div>  
        <div class='row'>
          
          <div class='col-md-4'>
            <form-group>
              <label>Annual CTC<span>*</span></label>
              <input type='text' class='form-control' ng-model='salary' id='salaryId'>
            </form-group>  
          </div>
          <div class='col-md-4'>
            <form-group>
              <label>Date of Birth<span>*</span></label>
              <input type='date' class='form-control' ng-model='dob' id='dobId'>
            </form-group>
          </div>
          <div class='col-md-4'>
            <form-group>
              <label>Date of Joining<span>*</span></label>
              <input type='date' class='form-control' max='2017-02-15' ng-model='doj' id='dojId' ng-change="getExp(doj)">
            </form-group>
          </div>  
        </div>  
        
        <div class='row'>
          <div class='col-md-4'>
            <form-group>
              <label> Internal Experience<span>*</span></label>
              <input type='text' ng-readonly='true' class='form-control' ng-model='IntExp' id='IntExpId'>
            </form-group>  
          </div>
  
          <div class='col-md-4' >
            <form-group>
                <label> External Experience in years and months<span>*</span></label>
                    
                         <div class='col-md-6'>
                            <input type='number' class='form-control' min=0 placeholder='Years' ng-model='ExtExpYears' id='ExtExpYearsId'>
                         </div>
                    
                        <div class='col-md-6'>
                            <input type='number' class='form-control' min=0 max=11 ng-model='ExtExpMonths' id='ExtExpMonthsId' placeholder='Months' ng-change='getTotalExp(doj,ExtExpYears,ExtExpMonths)'>
                        </div>
                   
                </form-group>
            </div>
          
          <div class='col-md-4'>
            <form-group>
              <label> Total Experience</label>
              <input type='text' ng-readonly=true class='form-control' ng-model='TotalExp' id='TotalExpId' placeholder='Years and Months'>
            </form-group>  
          </div>
        </div>
        
        <div class='row'>
          <div class='col-md-4'>
            <form-group>
            <label>Primary Skill</label>
            <input type="text" placeholder="Search for items" class="form-control" ng-model="PrimarySkill" ng-change="searchPrimarySkill(PrimarySkill)" />
            <ul class="suggestions-list">
                <li ng-repeat="suggestion1 in suggestions1 track by $index" ng-click="AddPrimarySkill($index)">{{suggestion1}}</li>
            </ul><br>
            Primary Skills:
            <ol>
              <li ng-repeat="primaryskill in PrimarySkills" >
                {{primaryskill}}<span style="padding-left:50px" ng-click="RemovePrimaryskill($index)">x</span>
                </li>
            </ol>
            </form-group>
            </div>
            
            
            <div class='col-md-4'>
              <form-group>
            <label>Secondary Skill:</label>
            <input type="text" placeholder="Search for items" class="form-control" ng-model="SecondarySkill" ng-change="searchSecondarySkill(SecondarySkill)" />
            <ul class="suggestions-list">
                <li ng-repeat="suggestion2 in suggestions2 track by $index" ng-click="AddSecondarySkill($index)">{{suggestion2}}</li>
            </ul><br>
            Secondary Skills:
            <ol>
              <li ng-repeat="secondaryskill in SecondarySkills">
                {{secondaryskill}}<span style="padding-left:50px" ng-click="RemoveSecondaryskill($index)">x</span>
                </li>
            </ol>
            </form-group>
          </div>
        </div>
        <input type='submit' class='btn btn-primary'  style="margin-top:15px;margin-bottom:15px" value="Update">
      <a href="#details"><input type="button" class='btn btn-default' value="View Profile"></a>
      </form>s
    </div>
    
  </div>
  </div>
  
  