﻿
  <div class='container' style="background-color:whitesmoke">
      <div class='row'>
        <div class='col-md-12'>
          <h1><center>Profile</center></h1>
        </div>
      </div>
  <div>
    <div ng-controller='EmployeeDataCtrl'>
     

        <div class='row'>
          <div class='col-md-4'>
            <form-group>
              <label>First Name: {{ EmployeeData.FirstName }}</label>
              <span ng-bind="FirstName"></span>
            </form-group>
          </div>
          <div class='col-md-4'>
            <form-group>
              <label>Middle Name: {{ EmployeeData.MiddleName }}</label>
              <span ng-bind="MiddleName"></span>
            </form-group>
          </div>
          <div class='col-md-4'>
            <form-group>
              <label>Last Name:{{ EmployeeData.LastName }} </label>
              <span ng-bind="LastName"></span>
            </form-group>
          </div>
        </div>

        <div class='row'>
          <div class='col-md-4'>
            <form-group>
              <label>Employee ID:{{ EmployeeData.EmployeeID }} </label>
              <span ng-bind="EmpId"></span>
            </form-group>
          </div>
          <div class='col-md-4'>
            <form-group>
              <label>Email Id:{{ EmployeeData.EmailID }}</label>
              <span ng-bind="email"></span>
            </form-group>
          </div>
          
          <div class='col-md-4'>
            <form-group>
              <label>Contact No.: {{ EmployeeData.ContactNo }}</label>
              <span ng-bind="contact"></span>
            </form-group>
          </div>
        </div>
        
        <div class='row'>
           <div class='col-md-4'>
            <form-group>
              <label>Designation:{{ EmployeeData.Designation }}</label>
              <span ng-bind="designation"></span>
            </form-group>
          </div>
          <div class='col-md-4'>
            <form-group>
              <label>Current Project:{{ EmployeeData.CurrentProject  }}</label>
              <span ng-bind="projects"></span>
            </form-group>
          </div>
          <div class='col-md-4'>
             <form-group>
              <label>Other Project (if any):</label>
              <span ng-bind="secondproject"></span>
            </form-group>
          </div>
        </div>
        
        <div class='row'>
          <div class='col-md-4'>
            <form-group>
              <label>Reporting Manager:</label>
              <span ng-bind="manager"></span>
            </form-group>
          </div>
          <div class='col-md-4'>
            <form-group>
              <label>Reporting Lead:</label>
              <span ng-bind="lead"></span>
            </form-group>
          </div>
          <div class='col-md-4'>
            <form-group>
              <label>Band:</label>
              <span ng-bind="band"></span>
            </form-group>
          </div>
        </div>  
         <div class='row'>
           <div class='col-md-4'>
            <form-group>
              <label>Country:</label>
              <span ng-bind="country"></span>
            </form-group>
          </div>  
          
         
          <div class='col-md-4'>
            <form-group>
              <label>City:</label>
              <span ng-bind="city"></span>
            </form-group>
          </div>
           <div class='col-md-4'>
            <form-group>
              <label>Location:</label>
              <span ng-bind="Location"></span>
            </form-group>  
          </div>
        </div>  
        <div class='row'>
          
          <div class='col-md-4'>
            <form-group>
              <label>Annual CTC:</label>
              <span ng-bind="salary"></span>
            </form-group>  
          </div>
          <div class='col-md-4'>
            <form-group>
              <label>Date of Birth:</label>
              <span ng-bind="dob"></span>
            </form-group>
          </div>
          <div class='col-md-4'>
            <form-group>
              <label>Date of Joining:</label>
             <span ng-bind="doj"></span>
            </form-group>
          </div>  
        </div>  
        
        <div class='row'>
          <div class='col-md-4'>
            <form-group>
              <label> Internal Experience:</label>
              <span ng-bind="IntExp"></span>
            </form-group>  
          </div>
  
          <div class='col-md-4' >
            <form-group>
              <label> External Experience:</label> 
              <span ng-bind="ExtExp"></span>
              </form-group>
           </div>
                
          
          <div class='col-md-4'>
            <form-group>
              <label> Total Experience:</label>
              <span ng-bind="TotalExp"></span>
            </form-group>  
          </div>
        </div>
        
        <div class='row'>
          <div class='col-md-4'>
            <form-group>
            <label>Primary Skills:</label>
            <span ng-bind="PrimarySkill"></span>
            </form-group>
            </div>
            
            
            <div class='col-md-4'>
              <form-group>
            <label>Secondary Skills:</label>
            <span ng-bind="SecondarySkill"></span>
            </form-group>
          </div>
        </div>
       
    <center> <a href="#Update"><input type="button" class="btn btn-primary" value="Edit Profile"></a></center>
    </div>
    
  </div>
  </div>
  