﻿
  
<div class="eltable">

    <table id="ResponsiveTables">
        
        <tr class="Headrow">
        <td> EMPLOYEENAME</td>    
        <td> EMPLOYEE ID</td>  
        <td> BAND</td> 
        </tr>
      <tr ng-repeat="x in Employeelist">

        <td tableHeadData="EmployeeName">{{ $index + 1}}. {{x.EmployeeName}} </td>


        <td tableHeadData="Employee Id">{{x.EmployeeId}}</td>


        <td tableHeadData="Band">{{ x.Band}}</td>

      </tr>


    </table>
 </div>
